.map-section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15%;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;

    h3,
    b {
        font-weight: 500;
    }
    p {
        text-wrap: balance;
    }
}

.map-section-separator {
    margin: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
}

@media screen and (max-width: 480px) {
    .map-section-container {
        padding: 0 3%;

        h3,
        p {
            line-height: 1.3rem;
        }
    }
}
