.nav-item {
    font-weight: 500;
    position: relative;

    &.active {
        .nav-link {
            color: var(--accent-color);
        }
    }
}
.nav-item:hover {
    .nav-link {
        color: var(--accent-color);
    }
    .nav-icon {
        opacity: 1;
        transform: translate(-50%, -1.2rem);
    }
}

.nav-link {
    display: block;
    font-size: 1rem;
    letter-spacing: -0.8px;
    cursor: pointer;
    padding: 10px;
    text-align: center;
}

.nav-icon {
    color: var(--accent-color);
    fill: currentColor;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 100ms ease-in;
    pointer-events: none;
}

@media screen and (max-width: 480px) {
    .nav-link {
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 1024px) {
    .nav-link {
        font-size: 0.9rem;
    }
}
