.social {
    border-radius: 100%;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}

.social.background:hover {
    background-color: black;
}

.social-facebook {
    &.background {
        background-color: #1877f2;
    }
}

.social-twitter {
    &.background {
        background-color: #1da1f2;
    }
}

.social-youtube {
    &.background {
        background-color: #ff0000;
    }
}

.social-instagram {
    &.background {
        background-color: #e1306c;
    }
}

.social-pinterest {
    &.background {
        background-color: #bd081c;
    }
}

.social-icon {
    color: black;
    svg {
        width: 100%;
        height: 100%;
    }
}
.background {
    padding: 0.5rem;
    span {
        color: white !important;
    }
}
