.info-bar-wrapper {
    height: 2.5rem;
    background-color: #eeeeee;
    padding: 0 10%;
}

.info-bar {
    height: 100%;
    display: flex;
}

.right-container {
    margin-left: auto;
    padding: 3px 0;
}

.logo img {
    height: 100%;
}
.logo {
    display: block;
    height: 100%;
}
