.footer {
    background-color: #ffffff;
    border-top: 1px solid #dddddd;
}
.footer-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
    margin-bottom: 2rem;
}
.footer-logo-wrapper {
    width: 10rem;
}
.social-media-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 600px) {
    .footer-wrapper {
        flex-direction: column;
        gap: 0.8rem;
    }
}

@media screen and (max-width: 1024px) {
    .footer-wrapper {
        margin-bottom: 1rem;
    }
}
