.winners-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.winners-post-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    h3 {
        font-family: "Orbon ITC", sans-serif;
        font-weight: 400;
        font-size: 3rem;
    }
}
.winners-post-title-separator {
    width: 2px;
    min-height: 2.5rem;
    background-color: var(--contrast-color);
    margin: 0 0.5rem;
}

.winners-card-date {
    display: flex;
    flex-direction: column;
    span {
        line-height: 1rem;
    }
}
