@font-face {
    font-family: "Orbon ITC";
    src: url("./assets/fonts/Orbon.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

ul li {
    list-style: none;
}

:root {
    --header-height: 12rem;

    --accent-color: #41bbc6;
    --contrast-color: #fbba04;
}
