@font-face {
    font-family: "Orbon ITC";
    src: url("./assets/fonts/Orbon.otf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}
html,
body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li {
    list-style: none;
}

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Variables */
    --header-height: 12rem;

    --accent-color: #41bbc6;
    --contrast-color: #fbba04;
}
