.title-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 0;
}

.title-logo-wrapper {
    text-align: center;
    height: 60%;
}
.title-logo {
    height: 100%;
}

.subtitle-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    margin-top: 1rem;
    ::before,
    ::after {
        display: inline-block;
        content: "";
        border-top: 1px solid #000000;
        width: 4rem;
        margin: 0 1rem;
        transform: translateY(-0.3rem);
    }
}

.subtitle-text {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: #000000;
}

@media only screen and (max-width: 480px) {
    .title-wrapper {
        padding-bottom: 0;
    }

    .title-logo-wrapper {
        height: 3rem;
    }

    .subtitle-wrapper {
        margin-top: 0.5rem;
        ::before,
        ::after {
            width: 2rem;
            margin: 0 0.3rem;
        }
    }

    .subtitle-text {
        font-size: 0.9rem;
    }
}
